<div style="height: 200px;">zk{{isDrawerOpen}} Active index:: {{activeIndex}}</div>
<header class="site-header">
    <!-- <div class="brand">My Company</div>
    <button class="hamburger" aria-label="Menu" (click)="toggleDrawer()">
        <span [class.open]="isDrawerOpen"></span>
    </button> -->


    <ng-container *ngFor="let item of menuItems; let i = index"> 
        <ng-container *ngTemplateOutlet="navItem; context: { $implicit: item, index: i }"></ng-container>
    </ng-container>

</header>


<div class="ui-console">
    <button (click)="clearLogs()">Clear Logs</button>
    <h4>iPad Event Logs</h4>
    <ul>
        <li *ngFor="let log of uiLogs">{{ log }}</li>
    </ul>
</div>

<!-- Templates -->
<ng-template #navItem let-item let-i="index">
    <nav class="desktop-nav" (mouseleave)="onMouseLeave(item.name); activeIndex = null"
    (mouseenter)="onMouseEnter(item.name); activeIndex = i"
    >
        <ul>
            <li class="nav-item" [class.has-children]="item.children?.length" 
                >
                <app-link [path]="item.path" [linkClass]="'main-link'">{{ item.name }}<span
                    *ngIf="item.children?.length"> ▾</span></app-link>
                <div class="dropdown" *ngIf="item.children?.length && i == activeIndex">
                    <ng-container *ngFor="let c of item.children">
                        <app-link [path]="c.path" [linkClass]="'dropdown-link'" (linkClick)="reset()">{{ c.name }}</app-link>
                    </ng-container>
                </div>
            </li>
        </ul>
    </nav>
</ng-template>
