<div
style="height: 100px;"
>z</div>
<nav>
  <ul>
    <li
      class="nav-item"
      [class.active]="activeMenu === 'Home'"
      (mouseenter)="onMouseEnter('Home')"
      (mouseleave)="onMouseLeave()"
    >
      <a routerLink="/home" class="main-link">Home</a>
    </li>

    <li
      class="nav-item"
      [class.active]="activeMenu === 'About'"
      (mouseenter)="onMouseEnter('About')"
      (mouseleave)="onMouseLeave()"
    >
      <a routerLink="/about" class="main-link">About</a>

      <div class="dropdown" *ngIf="activeMenu === 'About'">
        <a routerLink="/about" class="dropdown-link">Company Info</a>
        <a routerLink="/careers" class="dropdown-link">Careers</a>
        <a routerLink="/contact" class="dropdown-link">Contact Us</a>
        <a routerLink="/support" class="dropdown-link">Support</a>
      </div>
    </li>

    <li
      class="nav-item"
      [class.active]="activeMenu === 'Services'"
      (mouseenter)="onMouseEnter('Services')"
      (mouseleave)="onMouseLeave()"
    >
      <a routerLink="/services" class="main-link">Services</a>

      <div class="dropdown" *ngIf="activeMenu === 'Services'">
        <a routerLink="/services" class="dropdown-link">Our Services</a>
        <a routerLink="/portfolio" class="dropdown-link">Portfolio</a>
        <a routerLink="/testimonials" class="dropdown-link">Testimonials</a>
      </div>
    </li>

    <li
      class="nav-item"
      [class.active]="activeMenu === 'Blog'"
      (mouseenter)="onMouseEnter('Blog')"
      (mouseleave)="onMouseLeave()"
    >
      <a routerLink="/blog" class="main-link">Blog</a>

      <div class="dropdown" *ngIf="activeMenu === 'Blog'">
        <a routerLink="/blog" class="dropdown-link">Latest Posts</a>
        <a routerLink="/faq" class="dropdown-link">FAQ</a>
      </div>
    </li>
  </ul>
</nav>

<div class="ui-console">
  <h4>iPad Event Logs</h4>
  <ul>
    <li *ngFor="let log of uiLogs">{{ log }}</li>
  </ul>
</div>